<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <h1>Users:</h1>
    <ul>
        {{#each users}}
          <li>
            <p><a href="/admin/editUser/{{this}}/edit">{{this}}</a> <br />
            -----<a href="/admin/deleteUser/{{this}}/delete">Delete {{this}}</a></p>
            <p></p>
          </li>
        {{/each}}
        <li>
          <p><h4><a href="/admin/addUser">Add User</a></h4></p>
        </li>
    </ul>
  </body>
</html>

