<!DOCTYPE html>
<html>
  <head>
    <title>Image</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <p><a href="/{{ username }}/userHome">Back to {{ username }}'s Image Gallery</a></p>
    <img src="data:image/png;base64,{{ image }}"/>
  </body>
</html>
