<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>{{ title }} for <u>{{ username }}</u>:</h1>
      <p><a href="/{{ username }}/userHome">View/Upload Images</a></p>
      <p><a href="/admin/users">View Users</a> (Admin only)</p>
    </body>
</html>
